{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'nbainjury/style.css' %}">
    <link rel="stylesheet" href="{% static 'nbainjury/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'nbainjury/team_injury_report.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} NBA Injury {% endblock %}</title>
</head>
<body>
    {% block content %} {% endblock %}
</body>
</html>